temp-plot.html
download.sh

.vscode
*.sublime-*
*.code*

ars/uniform_*

bending/ar/attic
bending/results
bending/ar_res
bending/surfaces
bending/times
bending/times1
bending/ar_times/
bending/tmp
bending/to_crop


fixed/results


incompressible/crop_all.py
incompressible/cropped
incompressible/images
incompressible/out
incompressible/vtu


L/images
L/results
L/vtu


matching_error/err



plate_hole/exact.m
plate_hole/imgs
plate_hole/results
plate_hole/results_inc
plate_hole/inc

stokes/crop_all.py
stokes/cropped
stokes/images
stokes/results
stokes/data


orthotropic/results
orthotropic/times

twisted_bar/cropped
twisted_bar/data
twisted_bar/data_coarse
twisted_bar/images
twisted_bar/images_coarse


time-depentent/results
time-depentent/out*
time-depentent/vtu*
time-depentent/mesh.py
time-depentent/meshes/x